body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/background.jpg') center/cover no-repeat;
    opacity: 0.4;
  }
   
 
 .restart-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

  }
  .restart-button:hover {
    background-color: #0056b3;
  }

  .dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    text-align: right;
  }
  
  label {
    margin-right: 10px;
  }

  .selected-trait {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
  }
  
  .rank-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    position: absolute;
    justify-content: center;
  }
  
  .rank-svg {
    width: 100%;
    max-width: 1200px; 
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .rank-label {
    position: relative;
    white-space: nowrap;
    font-size: 40px;
  }
  
  .rank-image {
    max-width: 100px;
    height: auto;
    cursor: move;
  }
  
  .reload-button {
    position: absolute;
    bottom: 30%;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .reload-button:hover {
    background-color: #218838;
  }